* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.intro::before {
  background-image: url("assets/foto/rinjani2.jpg");
}
.content::before {
  background-image: url("assets/foto/hewan.jpg");
}
.footer::before {
  background-image: url("assets/foto/rinjani1.jpg");
}

.title {
  font-size: 4rem;
  letter-spacing: 15px;
  font-family: fantasy;
  color: #eaeaea;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  width: 100%;
}
/* RESPONSIF */
@media (max-width: 768px) {
  .parallax::before {
    background-attachment: fixed;
    height: 120%;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 0 20px;
  }
}
