*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --bg-primary: #ffffffea;
  --bg-secondary: #868686;
  --txt-primary: #ffffff;
  --txt-secondary: #000000;
  --icons-bg-primary: rgb(76, 0, 255);
  --icons-bg-secondary: #ffffff;
}
.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  justify-content: center;
}

.card {
  width: 40%;
  border: 1px solid rgb(0, 0, 0);
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);
  padding: 32px;
  margin: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
}

.title {
  font-size: 2em;
}

.icons {
  font-size: 2em;
  color: var(--icons-bg-primary);
  margin-top: 8px;
}

.description {
  margin-top: 8px;
  font-size: 0.9em;
}

.btn {
  margin-top: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: var(--bg-primary);
  transform: rotateY(17deg);
  transition: 0.3s ease-in-out;
}

.container2 {
  width: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  font-size: 2em;
  color: var(--txt-secondary);
}

@media screen and (max-width: 476px) {
  .container2 {
    display: none;
  }
  .container {
    background-color: #ffffff;
  }
  .card {
    width: 70%;
    background-color: var(--bg-primary);
    color: var(--txt-secondary);
  }
  .icons {
    color: var(--icons-bg-primary);
  }
  .title {
    font-size: 1.5em;
  }
  .icons {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: none;
  }
  .container2 {
    display: block;
  }
}
