*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(0, 162, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#title {
  color: white;
  cursor: pointer;
}

.searchInput {
  background-color: transparent;
  padding: 7px 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 120px;
}

#moviesElement {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
  gap: 20px;
  background-color: #eaeaea;
}

.movie {
  width: 100%;
  height: 360px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.movie img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul {
  text-align: center;
  margin: 8px 0;
}

.movieRating {
  text-align: right;
  font-weight: bold;
  color: ffeb3b;
  font-size: 0.7rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 32px 0;
  background-color: #eaeaea;
}

#prev,
#next {
  padding: 8px 16px;
  background-color: rgb(0, 162, 255);
  cursor: pointer;
  border-radius: 5px;
}
