#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#activity {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

#type {
  background-color: #0f7bd7;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding: 8px 16px;
  display: none;
}
