*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  scroll-behavior: smooth;
}

.header {
  background: #000080;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin-right: auto;
  display: flex;
  gap: 10px;
}

.logo-img {
  width: 45px;
  height: 45px;
}

.logo-title {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.logo-title:hover {
  color: #838383;
  transform: rotate(2deg);
}

.btn-cta {
  margin-right: 10px;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  background: #cacaca;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  transition: all 0.2s ease 0s;
  display: inline-block;
}

li a:hover {
  color: rgb(117, 117, 117);
  transform: rotate(2deg);
}

a {
  color: #eaeaea;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* padding: 19px 0;
  min-height: 100vh; */
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  gap: 5px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center; */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  /* margin-bottom: 0px; */
}

.description {
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  /* margin-bottom: 0px; */
}

.img-1 {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.parallax {
  background-image: url("assets/photo/dindows.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000080;
  color: #eaeaea;
  padding: 15px;
}

.mt-10 {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 70vh; */
  align-items: center;
  gap: 10px;
}

.card-items {
  text-align: center;
  /* margin: 10px; */
  width: 25%;
  background: #000080;
  color: #eaeaea;
  padding: 20px;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 17px;
  font-weight: bolder;
}

.card-description {
  font-size: 17px;
  margin-top: 4px;
}

.icons {
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 4px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #000080;
  color: #eaeaea;
}

@media screen and (max-width: 500px) {
  .card {
    flex-direction: column;
  }
  .card-items {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .intro {
    margin-top: 20px;
  }
  .img-foto {
    padding: 0;
  }
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000080;
    z-index: 9;
  }

  footer {
    margin-bottom: 70px;
  }
}
