*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --bg-primary: #ffffffea;
  --bg-secondary: #eaeaea;
  --txt-primary: #ffffff;
  --txt-secondary: #000000;
  --icons-bg-primary: rgb(150, 146, 145);
  --icons-bg-secondary: #ffffff;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);
  padding: 32px;
  margin: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
}

.title {
  font-size: 2em;
}

.icons {
  font-size: 2em;
  color: var(--icons-bg-primary);
  margin-top: 8px;
}

.description {
  margin-top: 8px;
  font-size: 0.9em;
}

.btn {
  margin-top: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: var(--bg-primary);
  transform: rotateY(17deg);
  transition: 0.3s ease-in-out;
}
